
<section class="featured">
    <div class="d-flex justify-content-center mt-2">
        <h1>Chào Mừng bạn đến với Shop!</h1>
    </div>
</section>

<div class="container mt-4">
    <div *ngIf="!registerMode" style="text-align: center;">
        <h3>Đăng Ký</h3>
        <p class="lead">Hãy trở thành một người Kinh doanh giỏi hoặc mua hàng một cách tiện lợi !</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Đăng Ký</button>
            <button class="btn btn-info btn-lg">Tìm hiểu thêm</button>
        </div>
    </div>
    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
           <div class="col-4">      
            <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
           </div>
        </div>
    </div>
</div>
