
<carousel>
    <slide>
        <img src="assets/homeBild/bild1.png" alt="first slide" style="display:block; width: 50%; height: 50%;">
    </slide>
    <slide>
        <img src="assets/homeBild/bild2.jpg" alt="first slide" style="display:block; width: 50%; height: 50%;">
    </slide>
    <slide>
        <img src="assets/homeBild/bild3.png" alt="first slide" style="display:block; width: 50%; height: 50%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-2">
    </div>

</section>


